h1 {
    text-align:center;
}

h2{
	text-align: center;
}

form { 
	text-align: center;
}

.padre {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #002B44;
  color: #ffff;

}

.pintamelo{
	background-color: #7BC8F4;
	width: 50%;
}

.rd{
  text-align: center;
}

label{
    padding:5px;
    color:#222;
    font-family:corbel,sans-serif;
    font-size: 14px;
    margin: 10px;
}

table, th, td {
    border: 2px solid #006DAC;
    border-collapse: collapse;
    padding: 3px;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size:20px;
    text-align: center;
}



.center {
  margin-left: auto;
  margin-right: auto;
}