{% extends 'base/base.html' %}

{% block content %}
	<div class="container">

		<h1>Bienvenido al sistema de asignación de vuelos</h1><br>

		<h2>¿ Qué quieres hacer ?</h2><br>
		
	</div>

	<div class="padre">
	<div class="btn-group-vertical">
	<a class="btn btn-primary" href="consultarPorNumero" role="button">Consultar por numero de vuelo</a><br>
	<a class="btn btn-primary" href="#" role="button">Consultar por id piloto</a><br>
	<a class="btn btn-primary" href="#" role="button">Consultar por pasajeros</a><br>
	<a class="btn btn-primary" href="#" role="button">Consultar por ciudad de salida</a><br>
	<a class="btn btn-primary" href="#" role="button">Consultar por ciudad de llegada</a><br>
	<br><br>
	</div>
	</div>

{% endblock %}