{% extends 'base/base.html' %}

{% block content %}
	<div class="container">

		<h1>Bienvenido al sistema de asignación de vuelos</h1><br>

		<h2>¿ Qué quieres hacer ?</h2><br>
		
	</div>

	<div class="padre">
		<div class="btn-group-vertical">
			<a class="btn btn-primary" href="/reserva" role="button">Reservar Vuelo</a><br><br>
			<a class="btn btn-primary" href="/reserva_equipaje" role="button">Reservar Equipaje</a><br><br>
			<a class="btn btn-primary" href="registrarVuelo" role="button">Check in</a><br><br>
			<a class="btn btn-primary" href="consultarVuelo" role="button">Check out</a><br><br>
			<a class="btn btn-primary" href="/" role="button">Salir</a><br><br><br>
		</div>
	</div>

{% endblock %}