{% extends 'base/base.html' %}

{% block content %}
	<div class="container">

		<h1>Bienvenido al sistema de asignación de vuelos</h1><br>

		<h2>¿ Qué quieres hacer ?</h2><br>
		
	</div>

	<div class="padre">
	<div class="btn-group-vertical">
	<a class="btn btn-primary" href="registrarVuelo" role="button">Registrar Vuelo</a><br><br>
	<a class="btn btn-primary" href="consultarVuelo" role="button">Consultar Vuelo</a><br><br>
	<a class="btn btn-primary" href="#" role="button">Eliminar Vuelo</a><br><br>
	<a class="btn btn-primary" href="/" role="button">Salir</a><br><br>
	</div>
	</div>

{% endblock %}