{% extends 'base/base.html' %}
{% block content %}
	<br>
	<div class="container pintamelo">
		<form action="" method="post">
		
			<br><br>
		    <div class="form-group">
		        <label for="ciudadA">Ciudad de salida: </label>
		        <input class="form-control" type="text" id="ciudadA" name="ciudadA" /><br>
		    </div>

		    <div class="form-group">
		        <label for="ciudadB">Ciudad de Llegada: </label>
		        <input class="form-control" type="text" id="ciudadB" name="ciudadB" /><br>
		    </div>

		    <div class="form-group">
		        <label for="nroPuestos">Número de puestos: </label>
		        <input class="form-control" type="number" id="nroPuestos" name="nroPuestos" /><br>

		    </div>

		    <div class="form-group">
		        <label for="nroVuelo">Número de vuelo: </label>
		        <input class="form-control" type="number" id="nroVuelo" name="nroVuelo" /><br>

		    </div>
		    <div class="form-group">

		        <label for="nombrePiloto">Nombre del piloto: </label>
		        <input class="form-control" type="text" id="nombrePiloto" name="nombrePiloto" /><br>
		    </div>
		    <div class="form-group">
		        <label for="horasVueloPiloto">Horas de vuelo del piloto: </label>
		        <input class="form-control" type="number" id="horasVueloPiloto" name="horasVueloPiloto" /><br>
		    </div>
		    <div class="form-group">
		        <label for="idPiloto">ID del piloto: </label>
		        <input class="form-control" type="number" id="idPiloto" name="idPiloto" /><br>
		    </div>

		   	<div>
			<input type="submit" id="send-signup" name="signup" value="Continuar" /><br><br>
		     </div>
		</form>
	</div>

	<br><br><br><br><br>
{% endblock %}