{% extends 'base/base.html' %}
{% block content %}
	<br>
	<div class="container pintamelo">
		<form action="" method="post" novalidate>
			{{ form.hidden_tag() }}
			<br><br>
			<div class="form-group">
	            {{ form.ciudadA.label }}
	            {{ form.ciudadA(size=64) }}<br>
	            {% for error in form.ciudadA.errors %}
	            <span style="color: red;">{{ error }}</span>
	            {% endfor %}
		    </div>

		    <div class="form-group">
	            {{ form.ciudadB.label }}
	            {{ form.ciudadB(size=64) }}<br>
	            {% for error in form.ciudadB.errors %}
	            <span style="color: red;">{{ error }}</span>
	            {% endfor %}
		    </div>

		    <div class="form-group">
	            {{ form.nroPuestos.label }}
	            {{ form.nroPuestos(size=64) }}<br>
	            {% for error in form.nroPuestos.errors %}
	            <span style="color: red;">{{ error }}</span>
	            {% endfor %}
		    </div>

		    <div class="form-group">
	            {{ form.nroVuelo.label }}
	            {{ form.nroVuelo(size=64) }}<br>
	            {% for error in form.nroVuelo.errors %}
	            <span style="color: red;">{{ error }}</span>
	            {% endfor %}

		    </div>
		    <div class="form-group">
	            {{ form.nombrePiloto.label }}
	            {{ form.nombrePiloto(size=64) }}<br>
	            {% for error in form.nombrePiloto.errors %}
	            <span style="color: red;">{{ error }}</span>
	            {% endfor %}
		    </div>
		    <div class="form-group">
	            {{ form.horasVueloPiloto.label }}
	            {{ form.horasVueloPiloto(size=64) }}<br>
	            {% for error in form.horasVueloPiloto.errors %}
	            <span style="color: red;">{{ error }}</span>
	            {% endfor %}
		    </div>
		    <div class="form-group">
	            {{ form.idPiloto.label }}
	            {{ form.idPiloto(size=64) }}<br>
	            {% for error in form.idPiloto.errors %}
	            <span style="color: red;">{{ error }}</span>
	            {% endfor %}
		    </div>

		   	<div>
				{{ form.submit(class_ = "btn btn-primary") }}<br><br>
		     </div>
		</form>
	</div>

	<br><br><br><br><br>
{% endblock %}