{% extends 'base/base.html' %}
{% block content %}
	<br>
	<div class="container">
		<table class="center">
			<tr>
			    <th scope="col">Nro vuelo</th>
			    <th scope="col">CiudadSalida / CiudadLlegada</th>
		  	</tr>
	        {% for key, value in result.items() %}
					{% for item in value %}
					<tr>
						<th scope="row"> {{ key }} </th>
					    <td scope="row"> {{ item }} </td>
					 </tr>
					{% endfor %}
	        {% endfor %}
	    </table> 
	</div>

	<br><br><br><br><br>

{% endblock %}