{% extends 'base/base.html' %}
{% block content %}
	<br>
	<div class="container">
		<table class="center">
	        {% for key, value in result.items() %}
				<tr>
					{% if key == "ID pasajero"%}
						{% for elem in value %}
							<tr>
								<th> {{ key }} </th>
							    <th> {{ elem }} </th>
						    </tr>
						{% endfor %}
					{% else %}
						<th> {{ key }} </th>
		            	<td> {{ value }} </td>
		            {% endif %}
	            </tr>

	        {% endfor %}
	    </table> 
	</div>

	<br><br><br><br><br>

{% endblock %}